.searchDiv {
	/*border: 1px solid red;*/
	max-width: 65px;
	cursor: pointer; 
	cursor: -moz-pointer;
    cursor: -webkit-pointer;
    padding-bottom: 5px;
}

.createList {
 position: absolute;
 left: 305px;
 top: 56px;
}
.addToList{
 position: absolute;
 left: 825px;
 /*left: 625px;*/
 top: 54px;	
 /*position: relative;
 left: 625px;
 top:-79px;*/
}
.ListName {
	position: static;
	float: right;
	/*display: inline;*/
	white-space: nowrap;
}
.ListDisplay {
	position: relative;
	float: right;
	display: inline;
	padding-top: 40px;
}
h1 {
display: inline-block;
}
Table {
	cursor:pointer;
}
#space {
	margin-top: 5px;
}
#searchbox {
  text-align:center;
  border-width: 4px;
  border-color: #364;
  border-style: solid;
  border-radius: 20px;  
 }
 #createList {
 	text-align:center;
 	border-radius: 20px;
 	border-width: 4px;
 	border-color: #364;
  	border-style: solid;
  	border-radius: 20px;  
 }
#addToList{
	/*border-radius: 20px;*/
 	border-width: 1px;
 	border-color: #364;
  	border-style: solid;
}
#borderlessMenu {
display: inline-flex;
}
.invisible {
visibility: hidden;
}


